
.surveyor-update{ background-color:#ddd; }

body #surveyor-preview .surveyor-items table tbody td.description span{
    color: #d1d3ea !important;
}

.customers.viewsurveyor #wrapper{
    margin-left: 0;
}

@media (max-width: 1430px){
    .customers.viewsurveyor .panel_s {
        width: 100%;
    }
}

tr.has-row-options-2 a,
tr.has-row-options-2,
tr.surveyor_state_2 {
    background: #004803;
}

tr.has-row-options-1 a,
tr.has-row-options-1,
tr.surveyor_state_1 {
    background: #b7ab00;
    color: #000;
}
.activity-feed .feed-item p {
    padding: 2px;
    margin-left: 23px;
}

input[name="facebook"],
input[name="linkedin"],
input[name="skype"] {
  display: none;
}